<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallivanter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="../../public/css/style.css" />
</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo"><img src="../../assets/images/logo.png" type="image/png"
                            alt="Gallivantor Logo" />
                        Gallivanter</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>
                            {{#if loggedIn}}
                            <a id="logout">Logout</a>
                            {{else}}
                            <a href="/login">Login</a>
                            {{/if}}
                        </li>
                        <li><a href="#">Plan a NEW Trip</a></li>
                        <li><a href="#">My Planned Trips</a></li>
                        <li><a href="#">Random Trip Generator</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>

        <div class="container" id="top">
            {{{body}}}
        </div>

    </main>

    <footer></footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text"><img src="../../assets/images/logo.png" type="image/png"
                            alt="Gallivantor Logo" />
                        Gallivanter Travels</h5>
                    <p class="grey-text text-lighten-4">Not all who wander, are lost.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Contact Us</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://teagrinforde.github.io/Teagrin-Forde-Portfolio/">
                                <div class="chip">
                                    <img src="../../assets/images/Profile TF.jpg" alt="Teagrin Forde" />
                                    Teagrin Forde
                                </div>
                            </a></li>
                        <li><a class="grey-text text-lighten-3" href="#!"><div class="chip">
                                    <img src="../../assets/images/Profile TF.jpg" alt="Vince Yang" />
                                    Vince Yang
                                </div></a></li>
                        <li><a class="grey-text text-lighten-3" href="#!"><div class="chip">
                                    <img src="../../assets/images/Profile TF.jpg" alt="Farrah Syed" />
                                    Farrah Syed
                                </div></a></li>
                        <li><a class="grey-text text-lighten-3" href="#!"><div class="chip">
                                    <img src="../../assets/images/Profile TF.jpg" alt="Charles Wright" />
                                    Charles Wright
                                </div></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2022 Gallivanter
                <a class="grey-text text-lighten-4 right" href="#top">Back to top</a>
            </div>
        </div>
    </footer>
</body>

</html>