<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gallivanter</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <header>

    {{! logo and title display }}
    <div class="navbar-fixed">

      <nav class="cyan">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo indigo-text"><img src="images/logo.png" height="30" width="30" type="image/png"
              alt="Logo" />
            Gallivanter</a>

          {{! Full Nav }}
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li>
              {{#if loggedIn}}
              <a id="logout">Logout</a>
              {{else}}
              <a href="/login">Login</a>
              {{/if}}
            </li>
            <li><a href="/newTrip">NEW Trip</a></li>
            <li><a href="/tripData">My Trips</a></li>
            <li><a href="#contact">Contact Us</a></li>
          </ul>
        </div>
      </nav>

<<<<<<< HEAD
      {{! Dropdown Nav }}
      <ul class="sidenav" id="mobile-demo">
        <li>
              {{#if loggedIn}}
              <a id="logout">Logout</a>
              {{else}}
              <a href="/login">Login</a>
              {{/if}}
            </li>
        <li><a href="/newTrip">NEW Trip</a></li>
        <li><a href="/tripData">My Trips</a></li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
=======

>>>>>>> 70bb31186fb6af38ac33c43e80fe44f06298ad84
    </div>
  </header>

  <main class="row">
          {{! Dropdown Nav }}
      <ul id="mobile-demo" class="sidenav indigo">
        <li>
          <div class="user-view">
            <div class="background">
              <img src="/images/bg.PNG" alt="travel" type="image/png" id="backgroundPOP">
            </div>
            <a href="/"><img class="circle" src="/images/logo.png" /></a>
            <a href="/"><span class="black-text name">Gallivanter</span></a>
            
          </div>
        </li>
        <li><a class="waves-effect white-text" href="/login"><i class="material-icons">thumb_up</i>Login</a></li>

        <li>
          <div class="divider"></div>
        </li>
        <li><a class="waves-effect white-text" href="/newTrip"><i class="material-icons">airplanemode_active</i>NEW Trip</a></li>

        <li>
          <div class="divider"></div>
        </li>
        <li><a class="waves-effect white-text" href="/tripData"><i class="material-icons">event</i>My Trips</a></li>

        <li>
          <div class="divider"></div>
        </li>
        <li><a class="waves-effect white-text" href="#contact"><i class="material-icons">contacts</i>Contact Us</a></li>
      </ul>

    <div class="col s12" id="top">
      {{{body}}}
    </div>

  </main>

  <footer class="page-footer cyan indigo-text">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5><img src="images/logo.png" height="50" width="50" type="image/png" alt="Gallivantor Logo" />
            Gallivanter Travels</h5>
          <p>               Not all who wander, are lost.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 id="contact">Contact Us</h5>
          <ul>
            <li><a href="https://github.com/TeagrinForde">
                <div class="chip yellow darken-1 indigo-text">
                  <img src="/images/Profile TF.jpg" alt="Teagrin Forde" />
                  Teagrin Forde
                </div>
              </a></li>
            <li><a href="https://github.com/vyang14">
                <div class="chip yellow darken-1 indigo-text">
                  <img src="/images/Profile VY.PNG" alt="Vince Yang" />
                  Vince Yang
                </div>
              </a></li>
            <li><a href="https://github.com/fairiberry">
                <div class="chip yellow darken-1 indigo-text">
                  <img src="/images/Profile FS.PNG" alt="Farrah Syed" />
                  Farrah Syed
                </div>
              </a></li>
            <li><a href="https://github.com/Groceat">
                <div class="chip yellow darken-1 indigo-text">
                  <img src="/images/Profile CW.PNG" alt="Charles Wright" />
                  Charles Wright
                </div>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2022 Gallivanter
        <a class="right indigo-text" href="#top">Back to top</a>
      </div>
    </div>
  </footer>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAigt9WzHgkJnidN6iEN2Uq0KMSEo8lef0&callback=initMap&v=weekly&libraries=places" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.sidenav').sidenav();
    });
    
    $(document).ready(function () {
      $('.carousel').carousel();
    });
  </script>
</body>

</html>