<div class="col s12 carousel">
  <div class="carousel-item" href="#one!" alt="Mountain Adventures"><img
      src="/images/firstimage.png"
    /></div>
  <div class="carousel-item" href="#two!" alt="Lake Adventures"><img
      src="/images/secondimage.png"
    /></div>
  <div class="carousel-item" href="#three!" alt="Road Trips"><img
      src="/images/thirdimage.png"
    /></div>
  <div class="carousel-item" href="#four!" alt="Train Trips"><img
      src="/images/fourthimage.png"
    /></div>
  <div class="carousel-item" href="#five!" alt="Plane Trips"><img
      src="/images/fifthimage.png"
    /></div>
</div>
