<div class="carousel">
  <a class="carousel-item" href="#one!" alt="Mountain Adventures"><img
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.B3KwdO-pB3LJ_qdbd7etrwHaE7%26pid%3DApi&f=1"
    /></a>
  <a class="carousel-item" href="#two!" alt="Lake Adventures"><img
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.klqYZNnTTU4w8pjK0_2EaAHaEK%26pid%3DApi&f=1"
    /></a>
  <a class="carousel-item" href="#three!" alt="Road Trips"><img
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.rf9VrVPX5txgyF-geUutXwHaE7%26pid%3DApi&f=1"
    /></a>
  <a class="carousel-item" href="#four!" alt="Train Trips"><img
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.9MS9KkT_9E9S2-X7weTALgHaEo%26pid%3DApi&f=1"
    /></a>
  <a class="carousel-item" href="#five!" alt="Plane Trips"><img
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.-eFVVU2JFr9Qj-QrMh5opgHaEo%26pid%3DApi&f=1"
    /></a>
</div>

<script src="../public/js/carousel.js"></script>