<div class="row s12 searchParam">
    <form class="searchForm">
        <div class="col s8">
            <div class="input-field col s6">
                <textarea id="leavingForm" class="materialize-textarea"></textarea>
                <label for="leavingForm">Where are you departing from?</label>
            </div>
            <div class="col s6">
                <input type="text" class="datepicker" id="dateLeave" placeholder="Pick your departure date.">
            </div>

            <div class="col s12 left">
            <button
                class="left btn waves-effect waves-light"
                type="button"
                name="swap"
            ><i class="material-icons">import_export</i>
            </button>
            </div>

            <div class="input-field col s6">
                <textarea id="goingTo" class="materialize-textarea"></textarea>
                <label for="goingTo">Where is your destination?</label>
            </div>

            <div class="col s6">
                <input type="text" class="datepicker" id="dateReturn" placeholder="Pick your return date.">
            </div>
        </div>

        <div class="col s4">
        <h4>How are we getting you there?</h4>
        <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Let's go!</a>
        <ul id='dropdown1' class='dropdown-content'>
            <li><a id="flights"><i class="material-icons">flight_takeoff</i>Flying</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a id="driving"><i class="material-icons">directions_car</i>Driving</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a id="rideshare"><i class="material-icons">people</i>Rideshare</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a id="publictransport"><i class="material-icons">directions_transit</i>Public Transport</a></li>
        </ul>
    </div>
    </form>
</div>

<div class="row" id="gMap">
    <div class="row searchResults">
        <div>

        </div>
    </div>
</div>

<script src="/js/newTrip.js"></script>