<div class="row col s12 searchParam">
    <form class="searchForm">
        <div class="row">
            <div class="input-field col s7">
                <textarea id="leavingForm" class="materialize-textarea"></textarea>
                <label for="leavingForm">Where are you departing from?</label>
            </div>
            <div class="input-field col s5">
                <input type="text" class="datepicker" id="dateLeave" placeholder="Pick your departure date.">
            </div>
            <div class="left">
            <button
                class="left btn waves-effect waves-light"
                type="button"
                name="swap"
            ><i class="material-icons">import_export</i>
            </button>
            </div>
        </div>
        <div class="row">
         <div class="input-field col s7">
            <textarea id="goingTo" class="materialize-textarea"></textarea>
            <label for="goingTo">Where is your destination?</label>
        </div>
        <div class="col s5" >
            <input type="text" class="datepicker" id="dateReturn" placeholder="Pick your return date.">
            {{!-- <div class="" id="dateReturn"d></div> --}}
            {{!-- <button
                class="col btn waves-effect waves-light"
                type="submit"
                name="search"
            >
            <i class="material-icons">send</i>
          </button> --}}
        </div>
    </div>
    <div class="col">
        <h2>How are we getting you there?</h2>
        <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Let's go!</a>
        <ul id='dropdown1' class='dropdown-content'>
            <li><a id="flights"><i class="material-icons">flight_takeoff</i>Flying</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a id="driving"><i class="material-icons">directions_car</i>Driving</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a id="rideshare"><i class="material-icons">people</i>Rideshare</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a id="publictransport"><i class="material-icons">directions_transit</i>Public Transport</a></li>
        </ul>
    </div>
    </form>
</div>

<div class="row" id="gMap"></div>
<div class="row searchResults">
    <div>

    </div>
</div>

<script src="/js/newTrip.js"></script>