<div class="row s12 searchParam">
    <form class="searchForm">
        <div class="col s8">
            <div class="input-field col s6">
                <textarea id="departForm" class="materialize-textarea"></textarea>
                <label for="departForm">Where are you departing from?</label>
            </div>
            <div class="col s6">
                <input type="text" class="datepicker" id="dateLeave" placeholder="Pick your departure date.">
            </div>

            <div class="col s12 left">
            <button
                class="left btn waves-effect waves-light"
                id="swap"
                type="button"
                name="userBtn"
            ><i class="material-icons">import_export</i>
            </button>
            </div>

            <div class="input-field col s6">
                <textarea id="goingTo" class="materialize-textarea"></textarea>
                <label for="goingTo">Where is your destination?</label>
            </div>

            <div class="col s6">
                <input type="text" class="datepicker" id="dateReturn" placeholder="Pick your return date.">
            </div>
        </div>

        <div class="col s4" id="travelType">
        <h4>How are we getting you there?</h4>
        <a class='dropdown-trigger btn' data-target='dropdown1' name="userBtn" id='dropBtn'>Let's go!</a>
        <ul id='dropdown1' class='dropdown-content'>
            <li id="a0"><a><i class="material-icons">flight_takeoff</i><span id="b0">AIRPORT</span></a></li>
            <li class="divider" tabindex="-1"></li>
            <li id="a1"><a><i class="material-icons">directions_car</i><span>CAR</span id="b1"></a></li>
            <li class="divider" tabindex="-1"></li>
            <li id="a2"><a><i class="material-icons">directions_transit</i><span></span id="b2">Train</a></li>
        </ul>
    </div>
    </form>
</div>

<script src="/js/newTrip.js"></script>